
div {
    display: block;
}

h1, h2, h3, h4 {
    -webkit-hyphens: auto;
    hyphens: auto;
}

#main-destination-content {
    transform-origin: 50vw 50vh;
}

.site-content {
    transform-origin: 50% 50vh;
    transition: transform .4s cubic-bezier(.175,.885,.32,1.275) .2s;
}

.prime-gap.s-down {
    margin-bottom: 50px;
}

@media screen and (max-width: 750px) {
    .grid-destination {
        margin-left: 25px;
        margin-right: 25px;
    }
    body {
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    .gallery1 {
        -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
    .article-main {
        max-width: 100%;
       padding-left: 50px;
    }
    .headline-lead {
        max-width: 100%;
        padding-left: 50px;
    }
    html {
        font-size: 13px;
    }
}

@media screen and (max-width: 1000px) {
    .grid-destination {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .inner-grid {
        flex-wrap: wrap;
        max-width: 100%;
        padding-right: 0;
    }
    .grid-main {
        width: 100%;
    }
    .gallery1 {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
    html {
        font-size: 14px;
    }
}


@media screen and (max-width: 1200px) {
    .l-sitewidth {
        margin-left: 60px;
        margin-right: 60px;
    }
    .DestoPageHeader {
        padding-top: 150px;
    }
    .grid-destination {
        margin-bottom: 10vw;
        margin-left: 60px;
        margin-right: 60px;
    }
    .inner-grid {
        margin-right: -60px;
        padding-right: 60px;
    }
    .gallery1 {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
    html {
        font-size: 15px;
    }
}

@media (max-width: 1600px) {
    .Desto-title {
        font-size: calc(24px + 2.5vw);
    }
    .Desto-meta {
        font-size: calc(14px + .25vw);
    }
    body {
        font-size: calc(14px + .25vw);
    }
    .headline-lead {
        font-size: calc(18px + .75vw);
    }
}

.headline-text:after {
    clear: both;
    content: "";
    display: block;
}

.Desto-meta{
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    
}

.Desto-meta p {
    transition: color .1s linear
}

.Desto-title {
    color: #111;
    font-size: 64px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .1ex;
}

.DestoPageHeader {
    padding-top: 25px;
    
}

.DestoPageHeader-header {
    margin-bottom: 30px;
}

.l-sitewidth {
    margin-left: calc(50% - 300px);
    margin-right: calc(50% - 395px);
    position: relative;
}

.prime-gap {
    margin-bottom: 25px;
}

.prime-gap.zero {
    margin-bottom: 0;
}

.Game-origin {
        color: #da202c;
        font-weight: 500;
        margin-right: 0.25em;
        position: relative;
}

.Game-origin-info {
    color: gray;
    position: relative;
}

.destination-header-image {
    position: relative;
}

.DestoPageHeader .media{
    z-index: auto;
}

.media.positioned {
    background-color: transparent;
}

.ingameimg1 {
    max-height: 400px;
    max-width: 10000px;
}

.grid-destination {
    margin-bottom: 100px;
    margin-left: calc(50% - 300px);
    margin-right: calc(50% - 300px);
}

/* .inner-grid {
    display: block;
    flex: 0 0 auto;
    flex-wrap: nowrap;
    margin-right: 50px;
    float: left;
    padding-right: 100px;    
} */

.grid-main {
    width: 100%;
    margin-left: -100px;
    margin-top: 100px;
    padding-right: 75px;
}

.media {
    background-color:#e4e2e2;
    overflow: hidden;
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

a, section {
    page-break-inside: avoid;
}

article, header, footer, nav, section {
    display: block;
}

.headline-lead {
    color: black;
    float: left;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: .02em;
    letter-spacing: .015em;
    line-height: 1.3;
    margin-top: -80px;
    width: 100%;
    /* word-spacing: -0.275em; */
}

.article-main {
   width: 150%; 
   margin-top: -50px;
}

.article-text {
    margin-bottom: 25px;
}

.destination-list {
    max-width: 100%;
}


body {
    -webkit-font-smoothing: antialiased;
}

.gallery1 {
    line-height:0;
    -webkit-column-count:5; /* split it into 5 columns */
    -webkit-column-gap:5px; /* give it a 5px gap between columns */
    -moz-column-count:5;
    -moz-column-gap:5px;
    column-count:5;
    column-gap:5px;
    width: 1400px;
    margin-left: -45px;
 }


 
 .gallery1 .img-gallery {
    
    width: 100% ;
    height: auto  ;
    margin-bottom:5px; 
    filter: grayscale(100%);
    transition: filter 1s;
 }

 .gallery1 img:hover {
    filter: none;
 }


 html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 16px;
    width: 100%;
 }


* {
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}







/* .img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.img-column {
    flex: 50%;
    max-width: 25%;
    padding: 0 0px;
}

.extra-img {
    max-height: 25%;
}

.column .extra-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
} */