/* Header/Nav CSS */

.Allhead {
  color: #333;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

/* @media screen and (min-width: 1000px) */

.header-left {
  transform-origin: 0 0;
  transition: transform .3s;
  float: left;
  height: 100%;
}

.header-main-list {
  display: block;
  font-size: 20px;
  padding: 0, 15px;
  position: relative;
}

li {
  list-style: none;
}

a {
  page-break-inside: avoid;
}

/* The "*" is a wildcard and applies those styles to all elements. Helps to reset CSS files in order to default all native browser margin/padding on different elements to a common value. */
* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}