/* Header/Nav CSS */

.Allhead {
  color: #333;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.header-logo {
  display: inline-block;
  left: 0;
  top: 0;
}

#logo-image {
  left: 0;
  top: 0;
  min-width: 180px;
  width: 100px;
}

.header-nav-full {
  display: inline-block;
  background: #fff;  
  font-weight: 500;
  height: 90px;
  line-height: 90px;
  position: relative;
  top: -90px;
  left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff
}

ul li {
  display: inline-block;
  padding: 0 0.5rem;
}

ul li:not(:last-child) {
  border-right: 1px solid black;
}

li a:hover{
  color: red;
}

a {
  page-break-inside: avoid;
}

/* The "*" is a wildcard and applies those styles to all elements. Helps to reset CSS files in order to default all native browser margin/padding on different elements to a common value. */
* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: inherit;
}

